<form>
	<div class="form-group">
  	<input
			type="textarea"
			value=""
			name="comment[body]"
			class="form-control">
		
		<input type="submit" value="Add Comment" class="btn btn-primary">
	</div>
</form>