<form>
	<div class="form-group">

	  <textarea
			rows="4"
			name="comment[body]"
			class="form-control"></textarea>
		
		<button class="add-comment btn btn-primary" data-id=<%= parentID %>>
			Add Comment
		</button>
	</div>
</form>