<h1><%= subclon.get('name') %></h1>

<a href="/subclons/<%= subclon.id %>/posts/new">Add Post</a><br />

<ul>
	<% posts.each(function (post) { %>
		<li>[votes]
		<a href="<%= post.get('link_url') %>"><%= post.get('title') %></a>
		Comments
		[author_username]
		"voting buttons"</li>
	<% }); %>
</ul>

<a href="#/">Back</a>