<h1><%= subclon.get('name') %></h1>

<a href="/subclons/<%= subclon.id %>/posts/new">Add Post</a><br />

<ul>
	<% _(posts).each(function (post) { %>
		<%= post.get('title') %>
	<% }); %>
</ul>


<a href="#/">Back</a>