<h1>Subclons</h1>
<ul class="list-group">
	<% subclons.each(function (subclon) { %>
		<li class="list-group-item subclon" data-id=<%= subclon.id %>">
			<a href="#/subclons/<%= subclon.id %>">
				<%= subclon.get('name') %>
			</a>
		</li>
	<% }); %>
</ul>