<h1>Subclons</h1>

By default, subclons are sorted by popularity. Click and drag to change this.<br />
&nbsp;
<ul class="list-group" id="sortable">
	<% subclons.each(function (subclon) { %>
		<li class="list-group-item subclon" data-id=<%= subclon.id %>">
			<a href="#/subclons/<%= subclon.id %>">
				<%= subclon.escape('name') %>
			</a>
		</li>
	<% }); %>
</ul>

<script>$("#sortable").sortable();</script>
