<h1>A Reddit Clone</h1>
<h2>Subclons</h2>
<ul>
	<% subclons.each(function (subclon) { %>
		<li class="subclon" data-id=<%= subclon.id %>">
			<a href="#/subclons/<%= subclon.id %>">
				<%= subclon.get('name') %>
			</a>
		</li>
	<% }); %>
</ul>