<form id="new-subclon-form">
	<div class="form-group">
		<h1>Create Subclon</h1>
		
	  <label for="subclon_name">Name</label>
	  <input 
			id="subclon_name"
			name="subclon[name]"
			class="form-control">

	  <button class="create btn btn-primary">Create</button>
	</div>
</form>