<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-7">
		<div id="content"></div>
	</div>
	<div class="col-xs-3">
			<%= image_tag "Clones.jpg", :class => "img-circle img-responsive", :alt => "Responsive image" %>
		<%= render "layouts/login" %>
	</div>
</div>