<br />
<div>
	<button class="reply btn btn-primary" data-id=<%= parent.id %>>Reply</button>
</div>
<ul class="list-group">
	<% comments.each(function (comment) { %>
		<% var parentID = comment.get('parent_id') %>
		<% if (parentID && parentID === parent.id ) { %>
			<li class="list-group-item">
			<b>Submitted by <%= comment.escape('authorUsername') %></b><br />
			<%= comment.escape('body') %>
			<%= JST['nested']({ comments: comments, parent: comment }) %></li>
		<% } %>
	<% }); %>
</ul>