<form>
  <input
		type="textarea"
		value=""
		name="comment[body]">
		
	<button class="add-comment" data-id=<%= parent.id %>>Add Comment</button>
</form>
<ul class="list-group">
	<% comments.each(function (comment) { %>
		<% var parentID = comment.get('parent_id') %>
		<% if (parentID && parentID === parent.id ) { %>
			<li class="list-group-item"><%= comment.escape('body') %><br />
			-<%= comment.escape('authorUsername') %>
			<%= JST['nested']({ comments: comments, parent: comment }) %></li>
		<% } %>
	<% }); %>
</ul>